@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Arapey');

/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

/* Fix for responsive images */
img {
  max-width: 100%;
}
h1 {
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  color: #083D83;
}
p {
  text-align: center;
  font-family: 'Arapey', serif;
}
ul {
  font-family: 'Arapey', serif;
}
body {
  background-color: #B9DC8D;
}

/* ==========================================================================
Grid Systems
========================================================================== */
.col-1-4 {
  flex-basis: 20%;
}
.col-1-5 {
  flex-basis: 18%;
}
.col-1-3 {
  flex-basis: 33%;
}
.col-2-3 {
  flex-basis: 66%;
}
.md-col-1-3 {
  flex-basis: 30%;
}
.lg-col-1-3 {
  flex-basis: 28%;
}
.col-1{
  flex-basis: 100%;
}
.col-1-2 {
  flex-basis: 47%;
}
.row {
  display: block;
}
/* ==========================================================================
Buttons
========================================================================== */
.read-more {
  background-color: #083D83;
  color: white;
  font-family: 'Arapey', serif;
  padding: 5px 20px 5px 20px;
  text-align: center;
  margin-top: 10px;
  width: 100%;
  font-size: 21px;
}
.read-more:hover {
  background-color: white;
  color: #083D83;
}
.header-contact-button {
  background-color: #083D83;
  color: white;
  font-family: 'Arapey', serif;
  padding: 15px 50px 15px 50px;
  text-align: center;
  margin-top: 50px;
  font-size: 21px;
  display: inline-block;
}
.header-contact-button:hover {
  background-color: white;
  color: #083D83;
}
.latest-news {
  background-color: #083D83;
  color: white;
  font-family: 'Arapey', serif;
  padding: 5px 20px 5px 20px;
  text-align: center;
  margin-top: 10px;
  width: 100%;
  font-size: 21px;
}
.latest-news:hover {
  background-color: white;
  color: #083D83;
}
.more-products {
  background-color: #083D83;
  color: white;
  font-family: 'Arapey', serif;
  padding: 5px 20px 5px 20px;
  text-align: center;
  margin-top: 10px;
  width: 100%;
  font-size: 21px;
}
.meet-the-team:hover {
  background-color: white;
  color: #083D83;
}
.tech-read-more {
  background-color: #083D83;
  color: white;
  font-family: 'Arapey', serif;
  padding: 5px 20px 5px 20px;
  text-align: center;
  margin-top: 10px;
  width: 100%;
  font-size: 21px;
}
.tech-read-more:hover {
  background-color: white;
  color: #083D83;
}
/* ==========================================================================
Header
========================================================================== */
/* .logo-img-container {
  position: relative;
  margin-top: -80px;
  text-align: center;
 } */
 header {
  background-image: url(../img/header-img.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: right;
 }
 .logo {
   height: 90px;
   width: 150px;
 }
 .header-text {
   text-align: center;
   padding-bottom: 110px;
   padding-top: 80px;
 }
 .header-text h3 {
   font-family: 'Courgette', cursive;
   font-size: 36px;
   color: #8AC53F;
 }
 .header-img {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: absolute;
   bottom: -100px;
   margin-left: 350px;
 }
 .header-text h1 {
   font-size: 48px;
 }
/* ==========================================================================
Nav
========================================================================== */
nav {
  background-color: #446F83;
  font-family: 'Arapey', serif;
  font-size: 19px;
  position: fixed;
  width: 100%;
}
nav ul {
  text-align: center;
  margin-top: 0px;
  padding: 30px;
  margin-bottom:0
}
nav li {
  display: inline-block;
}
nav li a {
  text-decoration: none;
  color: white;
  margin: 0 10px 0 10px;
}
nav li a:hover {
  text-decoration: none;
  color: #8AC53F;
}
.nav-text {
  color: #FCFEFF;
}


/* ==========================================================================
Mission Statement
========================================================================== */
.mission {
  padding: 100px;
  margin-top: 100px;
}
.mission-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.mission-text {
  background-color: #F2F2F2;
  padding: 50px;
}
/* ==========================================================================
Quality
========================================================================== */
.quality {
  padding: 100px;
}
.quality-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.quality-text {
  background-color: #F2F2F2;
  padding: 30px;
}
/* ==========================================================================
Additional
========================================================================== */
.additional-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #F2F2F2;
  padding: 0 15px 15px 15px;
}
.additional {
  padding: 100px;
}
/* ==========================================================================
App
========================================================================== */
/* .app {
  padding: 50px;
}
.partners {
  display: inline-block;
} */
/* ==========================================================================
Contact Us
========================================================================== */
form {
  font-family: 'Arapey', serif;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  letter-spacing: .02em;
  text-align: center;
  color: #083D83;
  padding: 50px;
  width: 50%;
  margin: 0 auto;
}
input, textarea {
 display: block;
 font-family: 'Arapey', serif;
 text-transform: uppercase;
 padding: 8px 25.5px;
 text-align: center;
 margin-bottom: 10px;
 border: #083D83;
 width: 100%;
 font-size: 21px;
}
.form-button {
 background-color: #083D83;
 color: white;
 font-family: 'Arapey', serif;
 text-transform: uppercase;
 padding: 5px 250px 5px 250px;
 text-align: center;
 margin-top: 10px;
 width: 100%;
 font-size: 21px;
}
.form-button:hover {
 color: #083D83;
 background-color: white;
 border: 2px solid #083D83;
 font-family: 'Arapey', serif;
 text-transform: uppercase;
 padding: 5px 250px 5px 250px;
 transition: 0.25s;
 cursor:pointer;
}
/* ==========================================================================
Footer
========================================================================== */

footer {
  font-size: 17px;
  background-color: #446F83;
  font-family: 'Arapey', serif;
  padding: 10px 0 15px 0;
  text-align: center;
  color: white;
}
.info-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 15px;
}
.info-footer a:hover {
  color: #8AC53F;
}
.footer-bottom {
  margin-top: 20px;
}
#site a:hover {
  color: #8AC53F;
}
#site a {
  color: white;
}
.social-links a {
	font-size: 30px;
	margin: 15px;
	display: inline-block;
  justify-content: center;
	color: white;
}
.social-links a:hover {
  color: #8AC53F;
}
footer a {
  text-decoration: none;
  color: white;
}
footer ul {
  margin-bottom: 0;
}
footer li {
  display: inline-block;
}
footer li a {
  margin: 10px;
}
footer li a:hover {
  color: #8AC53F;
}
footer a:hover {
  color: #8AC53F;
}
.copyright {
  margin-bottom: 0;
  border-top: 2px solid #193441;
  padding: 6px 0 3px;
}
.newsletter input {
  font-size: 15px;
}
.newsletter h3 {
  color: white;
}
.submit {
  background-color: #8AC53F;
  color: white;
}
.submit:hover {
  color: #8AC53F;
  background-color: white;
}

/* ==========================================================================
Careers.html
========================================================================== */
.careers h1 {
  text-align: center;
}
.careers form {
  width: 50%;
}
.careers {
  padding: 100px;
  margin-top: 0;
}
.contact {
  padding: 100px;
  margin-top: 0;
}
/* ==========================================================================
Grow.html
========================================================================== */
.grow-mission-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.grow-mission-text {
  background-color: #F2F2F2;
  padding: 50px;
}
.grow-mission {
  padding: 100px;
}
.grow-description-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.grow-description-text {
  background-color: #F2F2F2;
  padding: 50px;
}
.grow-description {
  padding: 100px;
}
.grow-quality-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.grow-quality-text {
  background-color: #F2F2F2;
  padding: 50px;
}
.grow-quality {
  padding: 100px;
}
.grow-medicine-wrapper {
  display: flex;
  flex-wrap: wrap;
}
/* .grow-benefits-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.grow-benefits-text {
  background-color: #8AC53F;
  padding: 50px;
}
.grow-benefits {
  padding: 100px;
  position: absolute;
  bottom: -2830px;
  margin-top: 100px;
}
.grow-benefits-img {
  bottom: -3400px;
} */
.grow-footer {
  width: 100%;
}
.nav-grow {
    background-image: url(../img/field.jpg);
    background-size: cover;
}
/* ==========================================================================
News.html
========================================================================== */
.news-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.news-wrapper p {
  margin: 0;
  margin-bottom: 10px;
  padding: 15px;
}
.news-col {
  display: block;
  flex-wrap: wrap;
}
.news-col a {
  display: block;
}
.news-logo {
  height: 100px;
  width: 200px;
}
.aside {
  display: block;
  padding: 20px;
  text-align: center;
}
.news p {
  background-color: #F2F2F2;
}
.aside p {
  background-color: white;
  color: black;
}
.news {
  padding: 50px;
}
.aside ul {
  text-align: left;
}
.news h1 {
  font-size: 72px;
  margin-top: 0;
  letter-spacing: 3px;
}
.news a {
  color: black;
}
.aerial {
  margin-top: 25px;
}
/* ==========================================================================
tech.html
========================================================================== */
.tech {
  padding: 100px;
}
.tech-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.tech h1 {
  font-size: 72px;
  margin-top: 0;
  letter-spacing: 3px;
}
/* ==========================================================================
products.html
========================================================================== */
.products {
  padding: 100px;
}
.products-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.products-text {
  background-color: #F2F2F2;
  padding: 50px;
}
.products-img-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.products-col {
  display: flex;
  flex-wrap: wrap;
}
.products h1 {
  font-size: 72px;
  margin-top: 0;
  letter-spacing: 3px;
}
/* ==========================================================================
RESPONSIVE DESIGN
========================================================================== */
@media screen and (max-width: 1315px) {

}
@media screen and (max-width: 1000px) {
  .mission-wrapper {
    display: block;
  }
  .quality-wrapper {
    display: block;
  }
  .additional-wrapper {
    display: block;
  }
}
@media screen and (max-width: 650px) {
  .news-sm-col-1 {
    flex-basis: 98%;
  }
  .news-wrapper {
    display: block;
  }
  .carousel-wrapper {
    display: none;
  }
  .tech {
    padding: 50px;
  }
}
@media screen and (max-width: 550px) {
  .mission {
    padding: 50px;
  }
  .quality {
    padding: 50px;
  }
  .additional {
    padding: 50px;
  }
  .header-img {
    display: none;
  }
  .md-col-1-2 {
    flex-basis: 48%;
  }
  .newsletter {
    margin-right: 20px;
  }
  .aside {
    display: none;
  }
  .products-img-wrapper {
    display: block;
  }
  .products-sm-col-1 {
    flex-basis: 98%;
  }
}
@media screen and (max-width: 500px) {
  .sm-col-1 {
    flex-basis: 98%;
  }
  .newsletter {
    padding: 40px;
    margin-right: 0;
  }
}
@media screen and (max-width: 375px) {

}
