@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Arapey');

/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

/* Fix for responsive images */
img {
  max-width: 100%;
}
h1 {
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  color: #083D83;
}
p {
  text-align: center;
  font-family: 'Arapey', serif;
}

/* ==========================================================================
Grid Systems
========================================================================== */
.col-1-4 {
  flex-basis: 20%;
}
.col-1-3 {
  flex-basis: 33%;
}
.col-2-3 {
  flex-basis: 66%;
}
.md-col-1-3 {
  flex-basis: 30%;
}
.lg-col-1-3 {
  flex-basis: 28%;
}
.col-1{
  flex-basis: 90%;
}
.col-1-2 {
  flex-basis: 47%;
}
/* ==========================================================================
Buttons
========================================================================== */
.read-more {
  background-color: #083D83;
  color: white;
  font-family: 'Arapey', serif;
  padding: 5px 20px 5px 20px;
  text-align: center;
  margin-top: 10px;
  width: 100%;
  font-size: 21px;
}
.read-more:hover {
  background-color: white;
  color: #083D83;
}
.header-contact-button {
  background-color: #083D83;
  color: white;
  font-family: 'Arapey', serif;
  padding: 15px 50px 15px 50px;
  text-align: center;
  margin-top: 50px;
  font-size: 21px;
  display: inline-block;
}
.header-contact-button:hover {
  background-color: white;
  color: #083D83;
}
/* ==========================================================================
Header
========================================================================== */
/* .logo-img-container {
  position: relative;
  margin-top: -80px;
  text-align: center;
 } */
 header {
  background-image: url(../img/white-grow.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
 }
 .logo {
   height: 90px;
   width: 150px;
 }
 .header-text {
   text-align: center;
   padding-bottom: 110px;
   padding-top: 20px;
 }
 .header-text h3 {
   font-family: 'Courgette', cursive;
   font-size: 36px;
   color: #8AC53F;
 }
 .header-img {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: absolute;
   bottom: -100px;
   margin-left: 350px;
 }
 .header-text h1 {
   font-size: 48px;
 }
 #welcome {
   letter-spacing: 12px;
 }
/* ==========================================================================
Nav
========================================================================== */
nav {
  /* background-color: #8AC53F; */
  font-family: 'Arapey', serif;
  font-size: 19px;
}
nav ul {
  text-align: center;
  margin-top: 0px;
  padding: 30px;
  margin-bottom:0
}
nav li {
  display: inline-block;
}
nav li a {
  text-decoration: none;
  color: #083D83;
  margin: 0 10px 0 10px;
}
nav li a:hover {
  text-decoration: none;
  color: #F2F2F2;
}
.nav-text {
  color: #FCFEFF;
}

/* ==========================================================================
Home- Image Carousel
========================================================================== */
.carousel-wrapper img {
 margin: 0 auto;
 height: 400px;
 width: 600px;
}
.slick-prev {
 z-index: 100;
 left: 150px;
 color: #043A83;
}
.slick-next {
 z-index: 100;
}
.img-carousel {
  padding: 50px;
}

/* ==========================================================================
Mission Statement
========================================================================== */
.mission {
  padding: 100px;
  margin-top: 100px;
}
.mission-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.mission-text {
  background-color: #F2F2F2;
  padding: 50px;
}
/* ==========================================================================
Quality
========================================================================== */
.quality {
  padding: 100px;
}
.quality-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.quality-text {
  background-color: #F2F2F2;
  padding: 30px;
}
/* ==========================================================================
Additional
========================================================================== */
.additional-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.additional {
  padding: 100px;
}
/* ==========================================================================
App
========================================================================== */
/* .app {
  padding: 50px;
}
.partners {
  display: inline-block;
} */
/* ==========================================================================
Contact Us
========================================================================== */
.contact {
  background-color: #F2F2F2;
}
form {
  font-family: 'Arapey', serif;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  letter-spacing: .02em;
  text-align: center;
  color: #083D83;
  padding: 50px;
  width: 100%;
  margin: 0 auto;
}
input, textarea {
 display: block;
 font-family: 'Arapey', serif;
 text-transform: uppercase;
 padding: 8px 25.5px;
 text-align: center;
 margin-bottom: 10px;
 border: #083D83;
 width: 100%;
 font-size: 21px;
}
.form-button {
 background-color: #083D83;
 color: white;
 font-family: 'Arapey', serif;
 text-transform: uppercase;
 padding: 5px 250px 5px 250px;
 text-align: center;
 margin-top: 10px;
 width: 100%;
 font-size: 21px;
}
.form-button:hover {
 color: #083D83;
 background-color: white;
 border: 2px solid #083D83;
 font-family: 'Arapey', serif;
 text-transform: uppercase;
 padding: 5px 250px 5px 250px;
 transition: 0.25s;
 cursor:pointer;
}
/* ==========================================================================
Footer
========================================================================== */
footer {
  font-size: 17px;
  background-color: #B9DC8D;
  font-family: 'Arapey', serif;
  padding: 10px 10px 15px 10px;
  text-align: center;
}
.info-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 15px;
}
.info-footer a:hover {
  color: white;
}
.footer-bottom {
  margin-top: 40px;
}
#site {
  margin-top: 50px;
}
#site a:hover {
  color: white;
}
.social-links a {
	font-size: 30px;
	padding: 15px;
	display: inline-block;
  justify-content: center;
	color: #083D83;;
}
.social-links a:hover {
  color: white;
}
footer a {
  text-decoration: none;
  color: #083D83;
}
footer ul {
  margin-bottom: 0;
}
footer li {
  display: inline-block;
}
footer li a {
  margin: 10px;
}
footer li a:hover {
  color: #083D83;
}
footer a:hover {
  color: #083D83;
}
.copyright {
  margin-top: 70px;
  margin-bottom: 40px;
  border-top: 2px solid #193441;
  padding: 15px 0 3px;
}
.newsletter input {
  font-size: 15px;
}
.newsletter h3 {
  color: #083D83;
}
.submit:hover {
  background-color: #083D83;
  color: white;
}

/* ==========================================================================
Careers.html
========================================================================== */
.careers h1 {
  text-align: center;
}
/* ==========================================================================
Grow.html
========================================================================== */
.grow-mission-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.grow-mission-text {
  background-color: #8AC53F;
  padding: 50px;
}
.grow-mission {
  padding: 100px;
  /* margin-top: 100px; */
}
.circle-img{
  position: absolute;
  bottom: -400px;
  left: 400px;
  border-radius: 50%;
  height: 500px;
  width: 500px;
  z-index: 100;
}
.grow-description-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.grow-description-text {
  background-color: #8AC53F;
  padding: 50px;
}
.grow-description {
  position: absolute;
  bottom: -900px;
  padding: 100px;
  /* margin-top: 100px; */
}
.grow-quality-img {
  z-index: 100;
}
.grow-quality-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.grow-quality-text {
  background-color: #8AC53F;
  padding: 50px;
}
.grow-quality {
  position: absolute;
  bottom: -1600px;
  padding: 100px;
  /* margin-top: 100px; */
}
.grow-medicine-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.grow-footer {
  position: absolute;
  bottom: -2100px;
  width: 100%;
}
/* ==========================================================================
News.html
========================================================================== */
.news-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.news-col {
  display: block;
  flex-wrap: wrap;
}
.news-logo {
  height: 100px;
  width: 200px;
}
.aside {
  display: block;
}
.news p {
  background-color: #083D83;
  color: white;
}
/* ==========================================================================
tech.html
========================================================================== */
.tech {
  padding: 150px;
}
/* ==========================================================================
products.html
========================================================================== */
.products {
  padding: 100px;
}
.products-img-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.products-col {
  display: block;
  flex-wrap: wrap;
}
