/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

/* Fix for responsive images */
img {
  max-width: 100%;
}

/* ==========================================================================
Grid Systems
========================================================================== */


/* ==========================================================================
Nav
========================================================================== */

nav ul {
  text-align: center;
}
nav li {
  display: inline-block;
}
nav li a {
  text-decoration: none;
}
